body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: cadetblue;
}
.heading{
    color: burlywood;
    font-size: x-large;
    text-align: start;
    margin-top: 40px;
    margin-bottom: 40px;

} 
.mainn{
    max-width: 90%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 90px;
    position: relative;

}

.personal{
    color: black;
    background-color: navajowhite;
    text-align: center;
    padding: 10px;
    font-size: large;
}

.forpic{
    color: #000;
}

input[type="file"]{
    font-size: 15px;
    padding: 12px;
    width: 200px;
    background-color: turquoise;
    border-radius: 20px;
    margin-top: 10px
}

input[type="file"]::file.selector.button{
    background-color: bisque;
    cursor: pointer;
    font-size: small;
    color: blanchedalmond;
    border-color: aquamarine;
    border-radius: 10px;
}
form{
    margin-bottom: 40px;
}

input,textarea{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 7px;
    font-size: 15px;
    background-color: beige;
    border-width: 3px;
    



}

